$root_url: '../imgs';

@mixin base_img($url) {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('#{$root_url}/#{$url}');
}

@mixin bg($url) {
  @include base_img($url);
  background-size: cover;
}

@mixin icon($url) {
  @include base_img($url);
  background-size: 100% 100%;
}

.menu_icon1 {
  background-image: url(https://n2-q.mafengwo.net/s13/M00/E5/F2/wKgEaVy1QCCAei5UAAAO1FUM6kc797.png);
  background-color: #cd4541;
}

.menu_icon2 {
  background-image: url(https://p1-q.mafengwo.net/s13/M00/E4/D1/wKgEaVy1P--AVjJFAAAQMS0_1iU358.png);
  background-color: #87429e;
}

.menu_icon3 {
  background-image: url(https://b3-q.mafengwo.net/s13/M00/E4/10/wKgEaVy1P9GAUbowAAAK_IDLPbA968.png);
  background-color: #ae503c;
}

.menu_icon4 {
  background-image: url(https://b1-q.mafengwo.net/s13/M00/E5/08/wKgEaVy1P_iAfYzkAAAdot1Y3HY493.png);
  background-color: #3c62b9;
}

.menu_icon5 {
  background-image: url(https://n1-q.mafengwo.net/s13/M00/E5/72/wKgEaVy1QAmAO9dkAAAez69iAn0483.png);
  background-color: #648c61;
}

.menu_icon6 {
  background-image: url(https://b3-q.mafengwo.net/s13/M00/E5/A3/wKgEaVy1QBOAKQIjAAAjohve-bM990.png);
  background-color: #465cbe;
}