.header-main {
  width: 100%;
  height: 64px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &.not-home {
    width: 100%;
    max-width: 100%;
    justify-content: center;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.06);
  }

  .logo-main {
    width: 50px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 33px;
      height: 33px;
      @include icon('header_logo.png');
      background-position: inherit;
      background-size: auto;
    }
  }

  .menu-main {
    width: 680px;
    height: 100%;

    .el-menu-demo {
      border-bottom: 0;
      height: 100%;

      .el-menu-item {
        border-bottom: 0;
        height: 100%;

        &:hover,
        &.is-active {
          color: #fff;
          background-color: #409EFF;
        }
      }
    }
  }

  .user-main {
    width: 180px;
    height: 100%;
    margin-left: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.has {
      justify-content: flex-start;
    }

    .spe-bor {
      width: 1px;
      height: 15px;
      background-color: #409EFF;
    }

    .icon-box {
      width: 40px;
      height: 40px;
      border: 1px solid #409EFF;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;

      & > img {
        width: 100%;
        height: 100%;
      }

    }
    & > .user-box {
      font-size: 14px;
      max-width: 100px;
      margin-right: 10px;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .logout {
      width: 20px;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;

      & > i {
        font-size: 18px;
      }
    }
  }

}